*{
    margin:0;
}

body{
    font-family: 'Titillium Web', sans-serif;
}

ul.jobs-list li{
    list-style-type: none;
}

h1{
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.paragraph{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 18px;
}

.future{
    font-size: 26px;
    font-weight: bolder;
    width:60%;
}

.container{
    margin-left: 30%;
}

.calculator{
    margin-left: 350px;
    align-items: center;
}

label{
    width: 100px;
    display: inline-block;
}

input.pct{
    width: 50px;
}

input.button{
   border-radius: 12px; 
}

header {
    background-color: #24252a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header span a{
    color: white;
    font-size:32px;
    text-decoration: none;
}

header nav ul li a{
    color: white;
}

.nav-links {
    list-style: none;
    background-color: #24252a;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.5s ease 0s;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
}

    .nav-links li a:hover {
        color: #0088a0;
    }

.logo{
    cursor:pointer;
    text-decoration: none;
    letter-spacing: 3px;
}
